
.lexend-bold{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


body {
		background-color: #E5DAC0;

	}

	h1 {
		font-family: Arial;
		color:#0B25E6;


	}

	.md-img {
		width: 600px;

	}

	.sm-img {
		width: 200px;

}