
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
		background-color: #D39DF5;

	}

	h1 {
		text-align: center;
		font-family: Helvetica;
		color:#A312A6;


	}


	h2 {
		text-align: center;
		font-family: Helvetica;
		color:#FFFFFF;


	}

	h5 {
		text-align: center;
		font-family: Helvetica;
		color:#2814F5;


	}



	.md-img {
		display: block;
		width: 800px;
		margin-left: auto;
  	margin-right: auto;

	}

	.sm-img {
		display: block;
		width: 200px;
		margin-left: auto;
  	margin-right: auto;

}